<div class= "marginform">
  <%= form_for :book, url: {action: "update"} do |f| %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Titel</label> <br/>
        <%= f.text_field :title, class: "form-control", placeholder: "Titel" %>
      </div>
      <div class="form-group col-md-4">
        <label>Preis</label> <br/>
        <%= f.text_field :price, class: "form-control", placeholder: "Preis"  %>
      </div>
      <div class="form-group col-md-4">
        <label>Thema</label> <br/>
        <%= f.collection_select :subject_id, @subjects, :id, :name, class: "form-control", placeholder: "Preis"  %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-11">
        <label>Beschreibung</label>
        <%= f.text_area :description, class: "form-control", placeholder: "Beschreibung"  %>
      </div>
    </div>
    <%= submit_tag "Buch speichern", class:"btn btn-primary" %>
    <%= link_to "Abbrechen", books_path , class: "btn btn-primary"%>
  <% end %>
</div>
